* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

nav{
    padding: 50px 0;
}

.header__logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav__menu {
    padding-top: 79px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.nav__menu-item .nav__menu-link {
    font-weight: 400;
    line-height: 100%;
    font-family: "Roboto";
    color: #8c8a8a;
}

.nav__menu-item .nav__menu-link:hover {
    color: #232323;
}

.section__main {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding-top: 30px;
}

.section__content{
    width: 730px;
    height: 500px;
    background-color: #f0f0f0;
}

.section__info {
    width: 350px;
    height: 500px;
    background-color: #f0f0f0;

}

.section__content .section__title{
    padding: 40px 50px;
    font-weight: 700;
    font-family: "Roboto";
    font-size: 20px;
    line-height: 100%;
    color: #4581b7;
}

.section__content .section__subtitle{
        font-family: 'Roboto';
    padding: 0 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #8c8a8a;
}

.section__info .section__adres{
     font-family: 'Roboto';
    padding: 0 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #8c8a8a;
}

.section__info .section__adres-title {
    padding: 40px 50px;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    color: #4581b7;
}

.section__info .section__contact {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    color: #808080;
    padding: 0 40px;
}

.section__info .section__gmail {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #808080;
    padding: 0 40px;
    margin-top: 40px;
}

.footer .container{
        width: 1110px;
    height: 150px;
    background-color: #f0f0f0;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__img{
    padding: 15px 40px;
}

.footer__content .footer__title{
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #808080;
    font-family: "Roboto";
    padding: 0 40px;
}

.footer__content .footer__subtitle{
    font-weight: 700;
    font-size: 25px;
    line-height: 100%;
    font-family: "Roboto";
    color: #808080;
    margin-left: 90px;
    padding-top: 10px;
}
